@import "./fonts/font-roboto.css";
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import "~material-design-lite/material.css";


//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
