<div flex fxFill fxLayout="row" fxLayoutAlign="center center" >
  <div fxFlex="33">

    <mat-card>
      <mat-card-title>
        Edit User
      </mat-card-title>

      <mat-card-content>
        <form [formGroup]="editForm" (ngSubmit)="editForm.valid && edit()" class="form">

          <p>
            <mat-form-field class="full-width">
              <mat-label>Full Name</mat-label>
              <input type="text" id="full_name" formControlName="full_name" matInput>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input type="text" id="username" formControlName="username" matInput>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="full-width">
              <mat-label>E-Mail</mat-label>
              <input type="text" id="email" formControlName="email"  matInput>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" id="password" formControlName="password"  matInput>
            </mat-form-field>
          </p>

          <button mat-raised-button color="primary" [disabled]="!editForm.valid" type="submit">
            Edit User
          </button>


        </form>
      </mat-card-content>
    </mat-card>
  </div>




</div>


