<mat-card class="dashboard-card">

  <mat-card-title class="card-container-left">
    Add WireGuard Server
  </mat-card-title>
  <mat-card-title class="card-container-right">

    <input #confInput hidden="true" type="file" multiple onclick="this.value=null" (change)="parseFiles($event)" accept=".conf"/>
    <button
      mat-flat-button
      color="primary"
      (click)="confInput.click()"
      matTooltip="Import existing wireguard configuration. You can select both server and peer configuration. The number of imported peers are described near the submit button."
    >Import Configuration</button>

  </mat-card-title>

  <mat-card-content class="dashboard-card-content">

    <form [formGroup]="serverForm" class="add-server-form">

      <p><b>Essentials</b></p>
      <table class="add-server-full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field class="add-server-full-width">
          <mat-label>Interface</mat-label>
          <input formControlName="interface" matInput placeholder="wg0">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="add-server-full-width">
          <mat-label>Address Scope</mat-label>
          <input formControlName="address" matInput placeholder="10.0.200.1/24">
          </mat-form-field>
        </td>
      </tr></table>

      <table class="add-server-full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field class="add-server-full-width">
            <mat-label>Endpoint</mat-label>
            <input formControlName="endpoint" matInput placeholder="my-address.com">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="add-server-full-width">
            <mat-label>Port</mat-label>
            <input formControlName="listen_port" matInput placeholder="51820">
          </mat-form-field>
        </td>
      </tr></table>

      <table class="add-server-full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field class="add-server-full-width">
            <mat-label>Default DNS</mat-label>
            <input formControlName="dns" matInput placeholder="8.8.8.8">
          </mat-form-field>
        </td>
      </tr></table>

      <p><b>Keys</b></p>
      <p>
        <mat-form-field class="add-server-full-width">
          <mat-label>Private-Key</mat-label>
          <input formControlName="private_key" matInput>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="add-server-full-width">
          <mat-label>Public-Key</mat-label>
          <input formControlName="public_key" matInput>
        </mat-form-field>
      </p>

      <div class="button-row">
        <button type="button" [disabled]="!isEdit" (click)="getKeyPair()" mat-raised-button color="primary">
          <i class="material-icons">vpn_key</i>
          Generate KeyPair
        </button>

      </div>

      <p><b>Scripts</b></p>
      <p>
        <mat-form-field class="add-server-full-width">
          <mat-label>Post-Up</mat-label>
          <input formControlName="post_up" matInput>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="add-server-full-width">
          <mat-label>Post-Down</mat-label>
          <input formControlName="post_down" matInput>
        </mat-form-field>
      </p>

      <div class="button-row">

        <button mat-raised-button color="primary"
                type="submit"
                [disabled]="!serverForm.valid"
                (click)="serverForm.valid && add(serverForm.value)"
                (keydown.enter)="serverForm.valid && add(serverForm.value)"
        >
          <ng-container *ngIf="!isEdit">Add Server</ng-container>
          <ng-container *ngIf="isEdit">Edit Server</ng-container>
        </button>

        <button mat-raised-button color="warn" (click)="resetForm()">
          Reset
        </button>

        <div *ngIf="this.serverForm.value['peers'] && this.serverForm.value['peers'].length > 0">
          Importing <b>{{this.serverForm.value['peers'].length}}</b> peers.
        </div>

      </div>

    </form>




  </mat-card-content>
</mat-card>
