<div style="height: 100vh; ">


  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{config.applicationName}}</span>
      <div fxShow="true" fxHide.lt-md="true">

        <a *ngFor="let item of menu" [routerLink]="item.link" mat-button>
          <mat-icon>{{item.icon}}</mat-icon>
          {{item.text}}
        </a>

      </div>

      <span class="menu-spacer"></span>

      <ng-container *ngIf="auth.isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu2">Logged in as {{auth.user.username}}</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item [routerLink]="['/page/user/edit']">
            Edit User
          </button>
          <button mat-menu-item (click)="auth.logout().subscribe()">
            Logout
          </button>

          <button mat-menu-item [matMenuTriggerFor]="themeMenu">
            Themes
          </button>
        </mat-menu>

        <mat-menu #themeMenu="matMenu">
          <button mat-menu-item *ngFor="let theme of themes" (click)="setCurrentTheme(theme)">{{theme.name}}</button>
          <mat-slide-toggle
            style="margin-top: 10px;"
            color="primary"
            (click)="toggleDarkMode($event);"
            [checked]="darkMode">
            Dark
          </mat-slide-toggle>
        </mat-menu>

      </ng-container>


    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>
          <mat-icon>notifications</mat-icon>
          Notifications
        </a>
        <a href="#" mat-list-item>
          <mat-icon>message</mat-icon>
          Messages</a>
        <a href="#" mat-list-item>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <a href="#" mat-list-item>
          <mat-icon>lock</mat-icon>
          My Account
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>




</div>
