.peer-edit-form {
  min-width: 150px;
  //max-width: 500px;
  width: 100%;
  text-align: left;
}

.full-width {
  width: 100%;
}


td {
  padding-left: 0 !important;
  padding-right: 8px;
  text-align: left !important;
}
