<form ngForm #peerForm="ngForm">
<div class="mdl-grid peer-item" (click)="peer._expand = !peer._expand; fetchConfig()">
  <div class="mdl-cell--2-col mdl-cell--12-col-phone" *ngIf="{ a:
  (peer._stats && peer._stats.handshake && (peer._stats.handshake.split(' ')[1] === 'seconds' || pInt(peer._stats.handshake.split(' ')[0]) < 3))}; let isRunning">
    <i class="material-icons" [ngClass]="{'text-success': isRunning.a, 'text-danger': !isRunning.a}">check_circle</i>
    <span>{{peer.name}}</span>
  </div>
  <div class="mdl-cell--2-col mdl-cell--12-col-phone">{{peer.address}}</div>
  <div class="mdl-cell--3-col mdl-cell--12-col-phone">{{peer.public_key | slice:0:20}}...</div>
  <div class="mdl-cell--2-col mdl-cell--12-col-phone">{{peer._stats?.tx || '0 B' }}/{{peer._stats?.rx || '0 B'}}</div>
  <div class="mdl-cell--2-col mdl-cell--12-col-phone">{{peer._stats?.handshake || "N/A"}}</div>

  <div class="mdl-cell--2-col mdl-cell--12-col-phone">

    <app-modal-confirm
      [noConfirm]="true"
      (onConfirm)="edit()"
      icon="edit"
      hover="Edit {{peer.name}}">
    </app-modal-confirm>

    <app-modal-confirm
      [noConfirm]="false"
      (onConfirm)="delete()"
      text="Are you sure you want to delete {{peer.name}} ({{peer.public_key}})?"
      title="Delete {{peer.name}}"
      icon="delete"
      hover="Delete {{peer.name}} ({{peer.public_key}})">
    </app-modal-confirm>

  </div>

</div>
</form>

<!-- Expand Area -->
<div class="mdl-grid mdl-layout__header" *ngIf="peer._expand">
  <div class="mdl-cell--5-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">

    <form  #peerForm="ngForm" class="form" (ngSubmit)="peerForm.valid && edit()" >

      <p style="font-size: 24px; margin-bottom: 10px;">Essentials</p>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col ">
          <label class="" for="name">Name</label>
          <input [disabled]="!peer._edit" type="text" name="name" id="name" [(ngModel)]="peer.name" class="mdl-textfield__input" />
        </div>

        <div class="mdl-cell mdl-cell--6-col">
          <label class="" for="address">Address</label>
          <input [disabled]="!peer._edit" type="text" name="address" id="address" [(ngModel)]="peer.address" class="mdl-textfield__input"/>

        </div>
        <p style="width: 100%;margin-bottom: 15px;"></p>
        <div class="mdl-cell mdl-cell--12-col">
          <label class="" for="dns">DNS</label>
          <input [disabled]="!peer._edit" type="text" name="dns" id="dns" [(ngModel)]="peer.dns" class="mdl-textfield__input"/>
        </div>

        <p style="width: 100%;margin-bottom: 15px;"></p>
        <div class="mdl-cell mdl-cell--12-col">
          <label class="" for="allowed_ips">Allowed IPs</label>
          <input [disabled]="!peer._edit" type="text" name="allowed_ips" id="allowed_ips" [(ngModel)]="peer.allowed_ips" class="mdl-textfield__input"/>
        </div>
      </div>
      <p style="width: 100%;margin-bottom: 15px;"></p>
      <p style="font-size:24px; margin-bottom: 10px;">Keys</p>

      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--12-col">
          <label class="" for="private_key">Private-Key</label>
          <input [disabled]="!peer._edit" type="text" name="private_key" id="private_key" [(ngModel)]="peer.private_key" class="mdl-textfield__input"/>
        </div>
        <p style="width: 100%;margin-bottom: 15px;"></p>
        <div class="mdl-cell mdl-cell--12-col">
          <label class="" for="public_key">Public-Key</label>
          <input [disabled]="!peer._edit" type="text" name="public_key" id="public_key" [(ngModel)]="peer.public_key" class="mdl-textfield__input"/>
        </div>

      </div>


      <button
        [hidden]="!peer._edit"
        [disabled]="!peerForm.valid"
        type="submit"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue">
        Submit changes
      </button>

    </form>

  </div>

  <div class="mdl-cell--5-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
                  <textarea readonly class="mdl-textfield--full-width"
                            style="min-height: 250px; height: 100%; background-color: #202020; color: #00bcd4;">{{config}}</textarea>
  </div>

  <div class="mdl-cell--2-col mdl-cell--12-col-phone mdl-cell--12-col-tablet">
    <div style="text-align: center;">
      <qrcode [qrdata]="config" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
  </div>
</div>
