.peer-item > div{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid black;

}

.peer-item-header > div{
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.no-padding{
  padding: 0 !important;
}
