<div class="container">

<base-card>
  <base-card-title>
    <h2 class="mdl-card__title-text">Edit User</h2>
  </base-card-title>
  <base-card-body>

    <form [formGroup]="editForm" (ngSubmit)="editForm.valid && edit()" class="form">

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input formControlName="full_name" class="mdl-textfield__input" type="text" id="full_name"  value=""/>
          <label class="mdl-textfield__label" for="full_name">Full Name</label>
        </div>


        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input formControlName="username" class="mdl-textfield__input" type="text" id="username" />
          <label class="mdl-textfield__label" for="username">Username</label>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input formControlName="password" class="mdl-textfield__input" type="text" id="password"/>
          <label class="mdl-textfield__label" for="password">Password</label>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input formControlName="email" class="mdl-textfield__input" type="text" id="email"/>
          <label class="mdl-textfield__label" for="email">Email</label>
        </div>

      </div>


      <button [disabled]="!editForm.valid" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue">
        Edit User
      </button>



    </form>


  </base-card-body>
</base-card>

</div>
