[Interface]
Address = {{ data.peer.address.replace("/32", "/24") }}
PrivateKey = {{ data.peer.private_key }}
DNS = {{ data.peer.dns }}

[Peer]
PublicKey = {{ data.server.public_key }}
AllowedIPs = {{ data.peer.allowed_ips }}
Endpoint = {{ data.server.endpoint }}:{{ data.server.listen_port }}
{% if data.peer.shared_key %}
PresharedKey = {{ data.peer.shared_key }}
{% endif %}
