[Interface]
Address = {{ data.address }}
ListenPort = {{ data.listen_port }}
PrivateKey = {{ data.private_key }}

PostUp = {{ data.post_up }}
PostDown = {{ data.post_down }}

{% for peer in data.peers %}
[Peer]
# Client Name: {{ peer.name }}
PublicKey = {{ peer.public_key }}
{%- if peer.shared_key %}
PresharedKey = {{ peer.shared_key }}
{%- endif %}
AllowedIPs = {{ peer.address }}
{% endfor %}
